#btn {
  background-color: green;
  float: right;
}

#add {
  background-color: red;
}

#output {
  border: 1px solid white;
  width: 180px;
  border-bottom: 1px solid rgba(153, 153, 153, 0.61);
}
.something {
  width: 400px;
  height: 500px;

  margin: auto;
}
